@model  PersonelMVC.Models.Departmant
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Yeni Departman</h2>

@*<form method="post">
        <input type="text" name="Name"/>
        <button type="submit" class="btn btn-primary">Gönder</button>
    </form>*@
@using (Html.BeginForm("Save","Departmant",FormMethod.Post) )
{
    <div class="form-group">
        @Html.LabelFor(x => x.Name, "Departman Adı")
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(x=>x.Name)
    </div>
    @Html.HiddenFor(x => x.Id)
    <button type="submit" class="btn btn-primary">Kaydet</button>
}

@section ValidateSection{
    <script src="~/scripts/jquery.validate.min.js"></script>
    <script src="~/scripts/jquery.validate.unobtrusive.min.js"></script>
}